@use "../util" as f;
body {
  // background-color: blanchedalmond;
  font-family: f.$fonts-barlow;
  font-size: f.$fonts-body;
}

// header
.header {
  background: {
    image: url(../images/desktop/image-header.jpg);
    repeat: no-repeat;
    position: center;
    size: cover;
  }
  min-height: 100vh;

  // child elements
  &__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__title {
    color: var(--neutral-white);
    font-family: f.$fonts-fraunces;

    font-size: 2.8rem;
    line-height: 1;
    letter-spacing: 10px;
    margin: 80px 2rem 45px;
    text-align: center;
    text-transform: uppercase;
  }
}
.header__arrow {
  animation: bounce2 2s ease infinite;
}
// animation
@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

// article
.article-one {
  padding: 7rem;

  &__title {
    color: var(--neutral-very-dark-desaturated-blue);
    font-size: 3rem;
    font-family: f.$fonts-fraunces;
    line-height: 1;
  }
  &__text {
    color: var(--neutral-dark-grayish-blue);
    margin: 2rem 0;
  }

  &__link {
    color: var(--neutral-very-dark-desaturated-blue);
    font-family: f.$fonts-fraunces;
    text-decoration: none;
    text-transform: uppercase;
  }
}
// footer
.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}
