@use "../util" as f;
body {
  // background-color: blanchedalmond;
  font-family: f.$fonts-barlow;
  font-size: f.$fonts-body;
}

// header
.header {
  background: {
    image: url(../images/desktop/image-header.jpg);
    repeat: no-repeat;
    position: center;
    size: cover;
  }
  min-height: 100vh;

  // child elements
  &__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__title {
    color: var(--neutral-white);
    font-family: f.$fonts-fraunces;
    font-weight: f.$fonts-900;

    font-size: 2.8rem;
    line-height: 1;
    letter-spacing: 10px;
    margin: 80px 2rem 45px;
    text-align: center;
    text-transform: uppercase;
  }
}
.header__arrow {
  margin-top: 100px;
  animation: bounce2 2s ease infinite;
}
// animation
@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

// footer
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  min-height: 345px;
  background: var(--primary-dark-moderate-cyan);

  &__social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
  }

  &__list li {
    list-style: none;
    margin: 0 1rem;
    padding: 0;
    display: inline-block;
    text-align: center;
  }

  &__list li a {
    color: var(--primary-dark-desaturated-cyan);
    text-decoration: none;
  }

  &__list li a:hover {
    color: var(--neutral-white);
  }

  &__list li a img:hover {
    filter: brightness(100);
  }
}
.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}
