@use "../util" as f;
body {
  // background-color: blanchedalmond;
  font-family: f.$fonts-barlow;
  font-size: f.$fonts-body;
}

// header
.header {
  background: {
    image: url(../images/desktop/image-header.jpg);
    repeat: no-repeat;
    position: center;
    size: cover;
  }
  min-height: 100vh;

  // child elements
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    color: var(--neutral-white);
    font-family: f.$fonts-fraunces;

    font-size: 2.8rem;
    line-height: 1;
    margin: 80px 2rem 45px;
    text-align: center;
    text-transform: uppercase;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}
