@use "../globals" as *;
@use "../util" as f;

.grid-layout {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);

  &__content {
    margin: auto;
    max-width: 430px;
    padding: 0 2rem;

    &-title {
      color: var(--neutral-very-dark-desaturated-blue);
      font-size: 2.1rem;
      font-family: f.$fonts-fraunces;
      line-height: 1;
    }
    &-text {
      color: var(--neutral-dark-grayish-blue);
      margin: 2rem 0;
    }
    &-link {
      color: var(--neutral-very-dark-desaturated-blue);
      font-family: f.$fonts-fraunces;
      text-decoration: none;
      text-transform: uppercase;
      position: relative;
    }
  }
}

.yellow::before {
  content: "";
  position: absolute;
  bottom: 0;
  border-bottom: 10px solid hsla(51, 100%, 49%, 0.5);
  border-radius: 50px;
  z-index: -1;
  width: 100%;
}

.yellow:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  border-bottom: 10px solid hsl(51, 100%, 49%);
  border-radius: 50px;
  width: 100%;
}

.red::before {
  content: "";
  position: absolute;
  bottom: 0;
  border-bottom: 10px solid hsla(7, 99%, 70%, 0.5);
  border-radius: 50px;
  z-index: -1;
  width: 100%;
}

.red:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  border-bottom: 10px solid hsl(7, 99%, 70%);
  border-radius: 50px;
  width: 100%;
}

.photographic__layout {
  position: relative;

  &-content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
    width: 80%;

    // bottom: 0;
    // max-width: 11.875rem;
    &__title {
      font-family: f.$fonts-fraunces;
      margin-bottom: 1.875rem;
    }
  }
}
.cherry {
  color: var(--primary-dark-desaturated-cyan);
}
.orange {
  color: var(--primary-dark-blue);
}
.testimonials {
  min-height: 116vh;
  text-align: center;
  display: grid;
  place-content: center;
  margin: 0 2rem;
  &-title {
    color: var(--neutral-grayish-blue);
    font-family: f.$fonts-fraunces;
    letter-spacing: 2px;
    margin-top: 10rem;
    text-transform: uppercase;
  }

  &-article {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: 67.5rem;
    &__content img {
      border-radius: 50%;
      display: block;
      margin: 5rem auto 3.75rem;
      height: 3.75rem;
      width: 3.75rem;
    }

    &__content h3 {
      color: var(--neutral-very-dark-desaturated-blue);
      font-family: f.$fonts-fraunces;
    }

    &__content p {
      color: var(--neutral-dark-grayish-blue);
      flex: 1;
    }

    &__bio {
      margin: 4.688rem 0 10rem;
    }
    &__bio p {
      color: var(--neutral-grayish-blue);
      font-size: 1rem;
    }
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media only screen and (max-width: 48rem) {
  .grid-layout {
    display: flex;
    &__content {
      margin: 2rem 0;
      max-width: 100%;
      text-align: center;
      &-title {
        color: var(--neutral-very-dark-desaturated-blue);
        font-size: 1.8rem;
        font-family: f.$fonts-fraunces;
        line-height: 1;
      }
      &-text {
        color: var(--neutral-dark-grayish-blue);
        margin: 2rem 0;
      }
      &-link {
        color: var(--neutral-very-dark-desaturated-blue);
        font-family: f.$fonts-fraunces;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }

  .transform {
    flex-direction: column-reverse;
  }

  .stand-out {
    flex-direction: column;
  }

  .photographic {
    flex-direction: column;
  }

  .testimonials {
    display: flex;
    flex-direction: column;
    &-title {
      font-size: 1.3rem;
      margin-top: 3.125rem;
    }

    &-article {
      flex-direction: column;

      &__content img {
        margin: 3.125rem auto 1.875rem;
      }

      &__content h3 {
        color: var(--neutral-very-dark-desaturated-blue);
        font-family: f.$fonts-fraunces;
      }

      &__content p {
        color: var(--neutral-dark-grayish-blue);
        flex: 1;
      }

      &__bio {
        margin: 1.5rem 0 4.5rem;
      }
      &__bio p {
        color: var(--neutral-grayish-blue);
        font-size: 1rem;
      }
    }
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
