@use "../util" as f;

@media only screen and (max-width: 48rem) {
  // header
  .header {
    background: {
      image: url(../images/mobile/image-header.jpg);
      repeat: no-repeat;
      position: center;
      size: cover;
    }
    min-height: 100vh;

    // child elements
    &__title {
      font-size: 2.3rem;
      letter-spacing: 5px;
    }
  }

  .footer__list {
    margin-left: -2rem;
  }
  .footer__link li {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
}
