@use "../globals" as c;

.header-container {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  gap: 2rem;

  list-style: none;
}

.nav-link {
  text-decoration: none;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
